# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\lclement\Documents\Courses\EGR 325\2021.01 Spring\Weeks\Week 10 (03.30 - 04.01.2021)\SampleCode\03.30-InClassExamples\PythonDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
